.title{
    color:green;
    display:flex;
    justify-items:flex-end;
    background-color:red;

}


.left{
    display:flex;
    flex-direction:column;
    flex:1;
}

.right{
    display:flex;
    flex:6;
}