.title{
    color:green;
    display:flex;

}


.left{
    display:flex;
    flex-direction:column;
    flex:1;
}

.right{
    display:flex;
    flex-direction:column;
    flex:6;
    height:100vh;
}




#long{
    display:flex;
    flex-direction:row;
    background-color:blue;
    flex:1;

}
.square{
    border-color:black;
    display:flex;
    border-style:groove;
    background-color:white;
    width:100px;
    flex:1;  
}


.square1{
    border-color:black;
    display:flex;
    border-style:groove;
    width:100px;
    flex:1;
}
    
.long{
    display:flex;
    flex-direction:row;
    flex:1;
    background-color:pink;

}

.small{
    border-color:black;
    display:flex;
    border-style:groove;
    background-color:purple;
    flex:1;
    
}